
<template name="home">
    <!-- pitch -->
    <div id="pitch">
        <h2 id="hello">Revolutionizing the way you communicate online.</h2>
        <p id="countdown"></p>
    </div>
    <!-- /pitch -->

    <!-- screenshots -->
    <div id="screenshots">
        <!--<a href="javascript:;" class="arrows prev">Previous</a>-->

        <div class="scrollable">
            <div class="items">

                <!-- group 1 -->
                <ul>
                    <li><a href="img/chiken.png" title="Image Caption" ><img src="img/chiken.png" alt="Image" width="160px" height="90px"/></a></li>
                    <li><a href="img/gogi.png" title="Image Caption"><img src="img/gogi.png" alt="Image" width="160px" height="90px" /></a></li>
                    <li><a href="img/pizza.jpg" title="Image Caption"><img src="img/pizza.jpg" alt="Image" width="160px" height="90px" /></a></li>
                    <li><a href="img/jajang.png" title="Image Caption"><img src="img/jajang.png" alt="Image" width="160px" height="90px" /></a></li>
                </ul>
                <!-- /group 1 -->

            </div>
        </div>

        <!--<a href="javascript:;" class="arrows next">Next</a>-->

        <div class="clear"></div>
    </div>
    <!-- /screenshots -->

    <!-- columns -->
    <div id="cols">

        <!-- left column -->
        <div class="col">
            <h3>성장기 음식</h3>
            <p>아이가 잘 먹는 것도 중요하지만 무엇을 어떻게 먹느냐가 더 중요하다. 비만은 아이들의 2차 성징을 앞당기는 큰 요인 중에 하나다. 영양은 풍부하면서 칼로리가 낮은 것, 식이 섬유와 칼슘, 불포화지방산이 풍부한 것, 면역력을 높일 수 있는 것으로 음식을 만들어야 한다.
                성장기 아이들에게 좋은 식재료에는 사과, 수박, 오렌지, 키워 등 과일과 시금치, 브로콜리, 토마토, 양파, 당근 등 채소를 꼽을 수 있으며 닭가슴살, 율무, 커리 등도 좋다.
                과일은 새콤하고 달콤한 맛 때문에 아이들이 잘 먹는 식품 가운데 하나이면서 식이섬유, 비타민 등 면역력을 높이는 성분이 함유 돼 있다. 채소에는 칼슘, 철분, 비타민 등 다양한 영양소가 풍부하게 들어 있어 성장기 아이들에게 반드시 필요하다.
            </p>
            <p><a class="more" href="#">Read More</a></p>
        </div>
        <!-- /left column -->

        <!-- middle column -->
        <div class="col">
            <h3>성인 음식</h3>
            <p>뉴질랜드 오클랜드대학 이언 레이드 박사는 223명의 폐경 여성을 두 그룹으로 나눠 한 그룹에게만 칼슘제를 매일 1g씩 1년 동안 복용케 한 후 이들의 혈중 콜레스테롤 수치를 측정했다. 그 결과, 칼슘제를 복용한 그룹은 대조군에 비해 인체에 유해한 고밀도 콜레스테롤(HDL) 비율이 평균 7% 상승했으며 전체 콜레스테롤 중 HDL이 차지하는 비율도 높아진 것으로 나타났다.
                이처럼 콜레스테롤 수치 개선에 도움을 주는 칼슘은 멸치, 콩, 아몬드, 시금치, 두부, 치즈 등에 함유돼 있다. 하지만 음식만으로는 성인의 일일 칼슘 권장량인 700mg을 채우는 데 한계가 있으므로 칼슘제를 함께 섭취해주는 것이 좋다.</p>
            <p><a class="more" href="#">Read More</a></p>
        </div>
        <!-- /middle column -->

        <!-- right column -->
        <div class="col last">
            <h3>노년기 음식</h3>
            <p>노년기 음식관리에서 가장 어려운 것은 자극적인 음식을 피하는 것이다..
                갈수록 미각이 둔화되어 점점 더 달고, 짠 음식을 찾기 때문이다.
                그래서 노년기 음식관리에는 무첨가 음식인 농협산삼배양근 발아생식이 많은 도움이 된다.
                또 효소는 모든 대사활동에서 촉매 역할을 하는데, 신체가 생산해 낼 수 있는 효소 생산량은 정해져 있다.
                그래서 나이가 들수록 소화가 잘 안 되고 음식물의 영양 흡수 능력이 떨어지는데, 노년기에는 이러한 현상이 특히 더 심하게 나타난다.
                그런데 익히지 않은 음식을 섭취하면 부족한 효소를 신체 내에 공급할 수 있으며, 농협산삼배양근 발아생식은 100% 생식이기 때문에 혈당과 혈압 조절 뿐만 아니라 유용한 식사로도 알맞을 수 있다.
            </p>
            <p><a class="more" href="#">Read More</a></p>
        </div>
        <!-- /right column -->

        <div class="clear"></div>
    </div>


    <!-- /columns -->

    <!-- main (left side) -->
    <div id="main">
        <h3>한국 음식의 역사</h3>

        <p> 음식의 역사는 곧 인류의 역사이다. 음식은 곧 인간의 존재를 일차적으로 규정한다. 아무리 아름답고 잘생긴 사람도, 아무리 많은 돈과 권력을 가지고 있어도 먹지 않고는 유지할 수 없다. 그런데 음식은 단순히 인간의 생명을 유지하는 데 그치지 않고 인간의 사고에까지 영향을 준다. 결국 어떤 음식을 먹느냐에 따라 사람의 정신세계도 달라진다. 인간의 문화 중 중요한 부분은 음식의 산물이다. 그래서 음식의 역사는 인간의 역사와 비례한다.
            역사를 오래 간직한 민족은 다양한 음식을 가지고 있다. 음식은 날것-익힘-발효라는 순서로 발달한다. 그래서 발효 식품이 많은 나라는 음식이 발달한 곳이다. 한국의 된장과 간장, 그리고 김치는 최상의 식품이다. 김치를 비롯한 모든 제품에는 문화가 있다. 그 문화는 다름 아닌 한국의 문화 자체를 의미한다. 한국의 음식 수준은 곧 한국의 문화수준이다.
        </p>
        <p><a class="more" href="#">Read More</a></p>
    </div>
    <!-- /main (left side) -->


    <div id="side">
        <div class="boxtop"></div>
        <div class="boxmiddle">

            <!-- twitter widget -->
            <script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script type="text/javascript">new TWTR.Widget({version:2,type:'profile',rpp:11,interval:4000,width:'auto',height:135,theme:{shell:{background:'none',color:'#A7A6AE'},tweets:{background:'none',color:'#A7A6AE',links:'#DCDCDE'}},features:{scrollbar:false,loop:false,live:true,hashtags:true,timestamp:false,avatars:false,behavior:'default'}}).render().setUser('solucija').start();</script>
            <!-- /twitter widget -->

        </div>
        <div class="boxbottom"></div>

    </div>
</template>